extends layout

block styles
  //bower:css
  //endbower
  //inject:css
  //endinject
block content
  h1= title
  p Welcome to #{title}
  block scripts
    //bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js')
    script(src='../bower_components/angular-animate/angular-animate.js')
    //endbower
    //inject:js
    //endinject
